doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
<<<<<<< HEAD
    title Air-Sloth
=======
    title Air Sloth
>>>>>>> 6634167d84524f6156d739a4c9f68c8cec44eff3
    link(href='/vendor/font-awesome/css/font-awesome.min.css', rel='stylesheet')
    link(href='/vendor/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    link(href='/style.css', rel='stylesheet')
  body
    include nav
    .container
      .row
        .col-xs-12
          block content

    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(src='/welcome.js')
